<!-- post widget -->
{{!-- <div class="aside-widget">
    <div class="section-title">
        <h2>Latest Blogs</h2>
    </div>
    {{#each (limit posts 4)}}
    <div class="post post-widget">
        <a class="post-img" href="/blog/{{_id}}"><img src="{{image}}" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="/blog/{{_id}}">{{title}}</a></h3>
        </div>
    </div>
    {{/each}}
</div> --}}
<!-- /post widget -->

<div class="aside-widget">
    <div class="section-title">
        <h2>Son Bloglar</h2>
    </div>
    {{#each (limit posts 3)}}
    <div class="post post-thumb">
        <a class="post-img" href="/blog/{{_id}}"><img src="{{image}}" alt=""></a>
        <div class="post-body">
            <div class="post-meta">
                <a class="post-category cat-3" href="#">{{category.name}}</a>
                <span class="post-date">{{generateDate date 'DD MMM YYYY'}}</span>
            </div>
            <h3 class="post-title"><a href="/blog/{{_id}}">{{title}}</a>
            </h3>
        </div>
    </div>
    {{/each}}
</div>