<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- featured posts -->
            {{#each featuredPosts}}
            <div class="col-md-6">
                <div class="post post-thumb">
                    <a class="post-img" href="/blog/{{_id}}"><img src="{{image}}" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2"
                                href="/blog/categories/{{category._id}}">{{category.name}}</a>
                            <span class="post-date">{{generateDate date 'DD MMM YYYY'}}</span>
                        </div>
                        <h3 class="post-title"><a href="/blog/{{_id}}">{{title}}</a></h3>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- featured posts -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- post -->
                    {{#each posts}}
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="/blog/{{_id}}"><img src="{{image}}"></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="#">{{category.name}}</a>
                                    <span class="post-date">{{generateDate date 'DD MMM YYYY'}}</span>
                                </div>
                                <h3 class="post-title">
                                    <a href="/blog/{{_id}}">
                                        {{title}}
                                    </a>
                                </h3>
                                <p>
                                    {{truncate content 200}}
                                    <a href="/blog/{{_id}}" class="text-primary">Okumaya devam et.. 👆</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- /post -->
                </div>
            </div>

            <!-- aside -->
            <div class="col-md-4">
                <!-- catagories -->
                {{>sidebarCategories}}
                <!-- post widget -->
                {{>sidebarLastestBlogs}}
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->